*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:  sans-serif;
}
html,body{
width:100%;
height:100%;
}
body{
background: #333;
color: white;
display: flex;
flex-direction: column;
gap:10px;
align-items: center;
justify-content: center;

}

#box{
    background: red;
    width:500px;
    height:500px;
    border-radius:10px;

}
button{
    background: aqua;
    font-size:30px;
    padding:10px;
    border:none;
    border-radius:10px;
}