*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:  sans-serif;
}
html,body{
width:100%;
height:100%;
}
body{
background: #333;
color: white;
}
main{
width:100%;
height:100%;
}
.grid{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: repeat(100 , 1fr);
    grid-template-rows: repeat(50 , 1fr);

    perspective: 1000px;
    /* transform: rotateY(30deg) rotateX(-50deg) scale(1.5); */
    background: black;
    /* gap:1px; */
}
.box{
    background: black;
    border-radius:50%;
/* border:2px solid green; */

}

