* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #333;
    color: white;

}

main {

    width: 100%;
    height: 100%; 
      padding:30px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap:20px;
    align-items: center;
  
}
form{
    padding:20px 20px;
    width:60%;
    border:2px solid white;
    border-radius:10px;
    /* width:fit-content; */
}
input{
    margin-bottom:10px;
    display:block;
    padding:5px 10px;
    width:100%;
}
.card-container{width:100%;
    height:fit-content;
    /* padding:30px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    align-items: center;
}
.card{
    margin-top:10px 20px;
    padding:20px;
    border:1px solid white;
    border-radius:10px;
    max-width:250px;
   
    gap:10px;
}
.picture{
    background: red;
    width:100px;
    height:100px;
    border-radius:50%;
    overflow:hidden;
    
}
.picture img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.text{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    gap:5px
}

