* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #333;
    color: white;

}

main {
    background: #000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

#box {
    background: red;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    display: flex;justify-content: center;align-items: center;
    h1 {
        border-radius: 10px;
        padding:30px;

        background: #36363649;
        font-size: 50px;

    }
}

button {
    background: aqua;
    font-size: 30px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width:500px;
    scale: 1;


    &:active{
        scale:0.95;
    }
}

.team-info {
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    background: rgba(122, 122, 122, 0.192);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    h2 {
        text-align: left;

    }
}