*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:  sans-serif;
}
html,body{
width:100%;
height:100%;
}
body{
background: #333;
color: white;
}
main{
width:100%;
height:100%;
display:flex;
justify-content: center;
align-items: center;
position:absolute;
overflow:hidden;

}
button{
       padding: 20px;
       border:none;
       font-size:50px;
       border-radius:10px;
       background: red;
}
button:active{
    scale:.95;
}