*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:  sans-serif;
}
html,body{
width:100%;
height:100%;
}
body{
background: #333;
color: white;
}
main{
width:100%;
height:100%;
position:relative;


}
.box{
    width:30px;
    height:30px;
    background: red;
    border-radius:50%;
    position:absolute;
    transition: all  .3s;
    /* transition-delay: 0.01s; */
    }