*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:  sans-serif;
}
html,body{
width:100%;
height:100%;
}
body{
background: #333;
color: white;
}
main{
width:100%;
height:100%;
display: flex;
align-items: center;
justify-content: center;
gap:30px;
}

h1{
    padding:10px;
    background: rgb(8, 82, 82);
    font-size:100px;
    display: flex;
    align-items: center;
    border-radius:10px;
    cursor:pointer;

    
}
.value{border:2px solid white;
    padding:10px;
    border-radius:10px;
    font-size: 100px;
}